body {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food {
    width: 20%;
    min-width: 200px;
    margin: 5px;
    padding: 5px;
    border: 2px solid royalblue;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
}

.ingredient-list {
    font-size: 0.7em;
}

.ingredient-header {
    margin-bottom: -5px;
}

h2 {
    border-bottom: 1px solid #333; 
}